[MASTER]

# extensions not to check
extension-pkg-whitelist=numpy,numba,lhapdf

jobs=1 # has to be 1 as pylint is NOT threadsafe

[MESSAGES CONTROL]

disable=invalid-name,fixme

[REPORTS]

# Available formats are:
# text, parseable, colorized, json and msvs (visual studio).
output-format=colorized

[FORMAT]

# Maximum number of characters on a single line.
max-line-length=100

[DESIGN]

# Maximum number of arguments for function / method
max-args=10
